[defaults]
inventory = inventory/hosts.yml
roles_path = roles
collections_path = collections
interpreter_python = auto_silent
result_format = yaml
display_skipped_hosts = false
nocows = true

[ssh_connection]
pipelining = true
